p {
  display: flex;
  justify-content: center;
}

#button {
  position: absolute;
  /* top: 200px; */
  padding: 12px 6px;
  background-color: #460202e7;
  color: rgba(0, 0, 0, 0.973);
  border: none;
  cursor: pointer;
}
